[submodule "PlasticMesSolution"]
	path = PlasticMesSolution
	url = git@github.com:omegafrog/PlasticMesSolution.git
[submodule "PlasticMes.ModbusSimulator"]
	path = PlasticMes.ModbusSimulator
	url = git@github.com:omegafrog/PlasticMes.ModbusSimulator.git
